PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/shopease
JWT_SECRET=supersecret123
JWT_EXPIRE=30d
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:3000
